{% extends 'base.html.twig' %}

{% block title %}Hello AnimalController!{% endblock %}

{% block body %}

    {% for animal in animals %}

    <div class="form-control d-flex flex-column">

        {% if animal.image %}
        <img width="200px" src="{{ vich_uploader_asset(animal.image)|imagine_filter('ma_vignette') }}" alt="">
        {% else %}
        <img width="200px" src ="{{ asset("images/no_image.png") }}">
        {% endif %}



        <h2>{{ animal.name }}</h2>
        <h4>Weight: {{ animal.weight }} kg</h4>
        <span>cat: {{ animal.category.name }}</span>
        <div>
            <a class="btn btn-primary" href="{{ path("show_animal",{id:animal.id}) }}">show</a>
        </div>

    </div>

    {% endfor %}

{% endblock %}
